﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crewgo Algorithm Scheduler</title>
    <link type="text/css" href="/Resources/CSS/LoginStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header-wrapper"><h1>Crewgo Algorithm Scheduler</h1></div>
    </header>
    <div id="login-section">
        <form id="login-form" action="/Home/Verify" method="post">
            <h2>Sign In </h2>
            <span class="form-label">Email ID</span><br />
            <input placeholder="Email" type="email" name="email" class="login-input" required="required" /><br />
            <span class="form-label">Password</span><br />
            <input placeholder="Password" type="password" name="password" class="login-input" required="required" /><br />
            @if (Convert.ToBoolean(Session["LoginFailed"]) == true)
            {
                <span class="form-label label-red">* Login Failed, Please Try Again.</span>
                <br />
            }
            <input type="submit" id="login-button" value="Log in" class="login-input login-button" />
        </form>
    </div>
    <script>
        window.onload = function () {
            document.getElementById("login-button").focus();
        };
    </script>
</body>
</html>
