﻿*{
    padding:0;
    margin:auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
}
#login-section{
    display: block;
    margin:10% auto;
    padding:20px 40px;
    border:0px;
    border-radius:5px;
    background:#333;
    opacity:.8;
    font-size:20px;
    max-width:200px;
    width:100%;    
}
#login-form{
    opacity:.8;
    border:0px;
    border-radius:5px;
}
.login-input{
    opacity:1;
    border:1px;
    box-shadow:0px;
    border-radius:3px;
    padding:7px 10px;
    margin:10px;
    color: #FFF;
    background-color: #336DA5;
    border-color: #46b8da;
}
header{
    background:#000;
    opacity:.82;
    padding-top:14px;
    padding-bottom:14px;
    font-size:18px;
    color:#AAA;
    width:100%;
}
.header-wrapper{
   padding-left: 5%;
   font-size: 10px;
}
.login-button{
  color: #fff;
  background-color: #296275;
  border-color: #46b8da;
}
::-webkit-input-placeholder {
   color: #EEE;
}

:-moz-placeholder { /* Firefox 18- */
   color: #EEE;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #EEE;  
}

:-ms-input-placeholder {  
   color: #EEE;  
}
.form-label{
    margin:10px 0 0 0;
    padding:5px;
    font-size:10px;
}
.label-red{
    color: orange;
}

/*@media screen and (max-width:720px){
    #login-section{
    position:absolute;
    left:30%;
    margin-top:22%;
    padding:20px;
    padding-right: 40px;
    padding-left: 40px;
    border:0px;
    border-radius:5px;
    background:#333;
    opacity:.8;
    font-size:20px;
    
}
}*/